    .aboutContainer p {
        line-height: 1.5;
    }
    
    #dark .aboutContainer p {
        color: whitesmoke;
    }
    
    @media (max-width: 767px) {
        .aboutContainer {
            padding: 0 10px;
        }
    }