#contactForm {
    margin-top: 10px;
}

.contactFormContainer {
    /* border: solid rgb(165, 162, 162, 0.3) 1px; */
    padding: 20px;
    border-radius: 10px;
}

#contactForm input {
    border-radius: 1px;
    margin-bottom: 10px;
    padding: 10px;
    border: rgb(165, 162, 162)1px solid;
}

.contactFormContainer form {
    display: flex;
    flex-direction: column;
}

#dark .contactContainer h3 {
    color: whitesmoke;
}

.formSend {
    width: 100%;
    margin-top: 10PX;
    padding: 10px 40px;
    font-size: 0.9rem;
    background-color: #5CDB95;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

textarea {
    border-radius: 1px;
    border: rgb(165, 162, 162)1px solid;
    resize: none;
}

::placeholder {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #b4bdc5;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
}

.formSend:hover {
    transition: all ease-in;
    transition-duration: 1s;
    box-shadow: 0 0 5px rgb(218, 217, 224);
}

.contactContainer {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .form-item {
        overflow: hidden;
        margin: 0 0 20px 50px;
    }

    .contactContainer {
        width: 100%;
        color: #333;
        display: block;
        font: inherit;
        flex-direction: column;
        align-items: center;
        padding: 0;
        line-height: 1.3;
        font-size: 1rem;
    }

    #map {
        /* overflow: hidden;
        margin: 0;
        width: 100%; */
        display: none;
    }
}

@media (max-width: 990px) {
    .contactContainer {
        display: flex;
        flex-direction: column;
    }

    .form-item {
        margin: 0 60px 50px 35px;
    }

    .form-item h3 {
        margin-left: 10px;
    }

    #map {
        /* overflow: hidden;
        margin: 0;
        width: 100%; */
        display: none;
    }
}

#map {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}