#contactForm {
    margin-top: 10px;
}

.contactFormContainer {
    /* height: auto; */
    width: max-content;
    /* margin-top: 48px; */
    border: solid rgb(165, 162, 162) 1px;
    padding: 20px;
    border-radius: 20px;
}

#contactForm input {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: rgb(165, 162, 162)1px solid;
}

.contactFormContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#dark .contactContainer h3 {
    color: whitesmoke;
}

.formSend {
    width: 100%;
    margin: 15px auto;
    padding: 10px 40px;
    font-size: 0.9rem;
    background-color: #72A0C1;
    color: white;
    border: none;
    cursor: pointer;
}

textarea {
    padding: 20px;
    border-radius: 10px;
    border: rgb(165, 162, 162)1px solid;
    resize: none;
}

 ::placeholder {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #b4bdc5;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
}

.formSend:hover {
    transition: all ease-in;
    transition-duration: 1s;
    box-shadow: 0 0 5px rgb(218, 217, 224);
}

.contactContainer {
    display: flex;
}

@media (max-width: 767px) {
    .form-item {
        margin: 0 0 20px 10%;
    }
    .contactContainer {
        /* -webkit-text-size-adjust: 100%; */
        color: #333;
        box-sizing: border-box;
        margin: 0;
        border: 0;
        font: inherit;
        /* vertical-align: baseline; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border-radius: 50px; */
        background-color: transparent;
        padding: 0;
        line-height: 1.3;
        font-size: 1rem;
    }
    #map {
        width: 100%;
    }
}

.form-item {
    margin-right: 40px;
}