.navBar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    margin: 0px 0 5px;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: white;
    border-bottom: solid rgb(192, 190, 190) 0.1px;
}

#farai {
    text-decoration: none;
    /* color: black; */
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 600;
    padding-left: 40px;
    color: #111;
}

.navList {
    padding-right: 40px;
}

.navList ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navList li {
    /* removes default disc bullet for li tags and applies margin to left & right side */
    list-style-type: none;
    margin: 0 1rem;
}

.navList li a {
    /*  increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
    color: #111;
}

.nav-item {
    position: relative;
    padding: 10px 10px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item:hover:after {
    width: 100%;
    left: 0;
}

@media (max-width: 800px) {
    .navList {
        /* display: none; */
    }
}