#mainEl {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* cube spinner CSS */

.stage-cube-cont {
    width: 25%;
    height: 25%;
    margin-right: 100px;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    /* margin-left: calc(10% - 100px); */
}

.cubespinner div {
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 200px;
    border: 0px solid #ccc;
    padding: 50px;
    /* background: rgba(245, 245, 245, 0.4); */
    text-align: center;
    font-size: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark .cubespinner div {
    background: transparent;
    border: 1px #05386b solid;
}

.cubespinner .face1 {
    transform: translateZ(150px);
    /* color: #dd0031; */
}

.cubespinner .face2 {
    transform: rotateY(90deg) translateZ(150px);
    /* color: #f06529; */
}

.cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    /* color: #28a4d9; */
}

.cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    /* color: #5ed4f4; */
}

.cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    /* color: #efd81d; */
}

.cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(150px);
    /* color: #ec4d28; */
}

@keyframes spincube {

    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        transform: rotateY(-90deg);
    }

    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }

    83% {
        transform: rotateX(90deg);
    }
}


/* cube spinner css ends */

.aboutIntro {
    display: flex;
    flex-direction: column;
}

.greeting {
    font-size: 20px;
    font-weight: 500;
}

#dark .greeting {
    color: #05386b;
}

.textArea {
    line-height: 1rem;
}

.quote {
    font-size: 15px;
}

#dark .quote {
    color: #05386b;
}

.statement {
    font-size: 30px;
}

#dark .statement {
    color: #05386b;
}

.resume-item {
    margin-top: 10px;
}

.resume-item a {
    padding: 10px;
    background-color: #05386b;
    color: #f7f7f8;
    font-size: 1.2rem;
    text-decoration: none;
    color: whitersnoke;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #mainEl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutIntro {
        /* margin-top: 30%; */
        width: 90%;
    }

    .stage-cube-cont {
        margin-top: 20%;
    }

    .cubespinner div {
        background-color: transparent;
        padding: 0;
        font-size: 100px;
    }

    .cubespinner .face1 {
        transform: translateZ(100px);
        /* color: #dd0031; */
    }

    .cubespinner .face2 {
        transform: rotateY(90deg) translateZ(100px);
        /* color: #f06529; */
    }

    .cubespinner .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        /* color: #28a4d9; */
    }

    .cubespinner .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        /* color: #5ed4f4; */
    }

    .cubespinner .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        /* color: #efd81d; */
    }

    .cubespinner .face6 {
        transform: rotateX(-90deg) translateZ(100px);
        /* color: #ec4d28; */
    }
}

@media (max-width: 990px) {
    #mainEl {
        display: flex;
        flex-direction: column;
    }

    .stage-cube-cont {
        margin-bottom: 20%;
    }
}


/* rotate name around */

.rotate span {
    color: #EDF5E1;
    font-size: 5rem;
    display: inline-flex;
    animation: rotate 3s infinite;
}

@keyframes rotate {

    0%,
    75% {
        transform: rotateY(360deg);
    }
}

.nine span:nth-of-type(1) {
    animation-delay: 0.2s;
}

.nine span:nth-of-type(2) {
    animation-delay: 0.4s;
}

.nine span:nth-of-type(3) {
    animation-delay: 0.6s;
}

.nine span:nth-of-type(4) {
    animation-delay: 0.8s;
}

.nine span:nth-of-type(5) {
    animation-delay: 1s;
}

.nine span:nth-of-type(6) {
    animation-delay: 1.2s;
}

.myname {
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    text-shadow: 1px 1px 1px #05386b;
}