#mainEl {
    /* width: 100%; */
    display: flex;
    margin: 150px 150px 125px 150px;
}


/* cube spinner CSS */

.stage-cube-cont {
    width: 25%;
    height: 25%;
    margin-right: 100px;
    /* position: absolute; */
    /* overflow: hidden; */
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    /* margin-left: calc(10% - 100px); */
}

.cubespinner div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    /* background: rgba(255, 255, 255, 0.4); */
    background: transparent;
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
}

#dark .cubespinner div {
    background: transparent;
}

.cubespinner .face1 {
    transform: translateZ(100px);
    color: #dd0031;
}

.cubespinner .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
}

.cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
}

.cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
}

.cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
}

.cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}


/* cube spinner css ends */

.aboutIntro {
    /* margin-left: 50px; */
}

.greeting {
    font-size: 15px;
    font-weight: 500;
}

#dark .greeting {
    color: whitesmoke;
}

.textArea {
    line-height: 1rem;
}

.quote {
    font-size: x-small;
}

#dark .quote {
    color: whitesmoke;
}

.statement {
    font-size: 20px;
}

#dark .statement {
    color: whitesmoke;
}

.socialsResume li {
    list-style-type: none;
    display: inline;
    margin-left: -40px;
    margin-right: 60px;
}

.socialsResume .lni:hover {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: #72A0C1;
    transition: all ease-in-out;
    transition-duration: 1s;
    transform: scale(1.1);
}

.lni-linkedin-original {
    color: rgba(0, 97, 146);
}

.lni-github-original {
    color: black
}

#dark .lni-github-original {
    color: white;
}

.lni-instagram-original {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 200px; */
    /* change this to change the size*/
}

#dark .BgAnimation__svg {
    margin-bottom: 35px;
    width: 100%;
    background-color: #0F1624;
}

@media (max-width: 768px) {
    #mainEl {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }
    .aboutIntro {
        margin-top: 70%;
        width: 90%;
    }
    .stage-cube-cont {
        margin-top: 12%;
    }
    #dark .cubespinner div {
        background-color: transparent;
    }
}

#dark .myname {
    color: #467ca3;
}

.myname {
    /* position: absolute; */
    /* top: 50%;
    right: 50%; */
    /* transform: translate(50%, -50%); */
    text-transform: uppercase;
    font-family: verdana;
    padding: 0 0 10px;
    font-size: 4em;
    font-weight: 700;
    color: #72A0C1;
    text-shadow: 1px 1px 1px #121010;
}