.skillsSection {
    background-color: black;
    /* z-index: 99; */
    position: relative;
    margin: 0;
    padding: 10px 0 0;
    height: 100vh;
    width: 100%;
}

.skillsContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 90%;
    font-size: 1rem;
    width: 650px;
    border: 0.2px solid rgb(194, 191, 191, 0.4);
    border-radius: 10px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .skillsGrid {
        margin: 0;
        padding: 10px;
    }
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}

.skillsGrid li {
    list-style: none;
    width: 100px;
    align-items: center;
    text-align: center;
    background-color: #282517;
    border: 0.1px solid rgb(194, 191, 191, 0.4);
    padding: 5px;
    border-radius: 10px;
}

.skillsGrid li:hover {
    transition: all ease-in-out;
    transition-duration: 1s;
    transform: scale(1.1);
}

.skillsGrid li p {
    color: white;
    font-weight: 600;
}

.skills-title {
    color: white;
    padding: 90px 0 0px 100px;
    font-size: 1.6rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;
}

.skills-title span {
    font-size: 2.5rem;
    color: #FFD401;
    font-weight: 900;
}