#light {
    background-color: whitesmoke;
}

#dark {
    background-color: #5CDB95;
}

@media (prefers-color-scheme: dark) {
    #dark {
        background-color: #5CDB95;
    }
}

.switch {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

ReactSwitch {
    font-size: 10px;
}

@media (max-width: 767) {
    .react-switch-bg {
        display: none;
    }
}

.switch label {
    margin: 10px;
}

#light .switch label {
    color: black;
}

#dark .switch label {
    color: white;
}